<footer id="contact" class="bg-purple-800 py-8 px-4">
    <h1 class="text-4xl font-bold text-white text-center mb-8">
        Get in touch
    </h1>    <div class="flex justify-center gap-6 text-4xl">
        <a href="mailto:karimabelrazek@gmail.com" class="text-white hover:text-purple-300 transition duration-300">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/karim-elshehawy/" target="_blank" class="text-white hover:text-purple-300 transition duration-300">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/karim-308" target="_blank" class="text-white hover:text-purple-300 transition duration-300">
            <i class="fab fa-github"></i>
        </a>
        <a href="tel:+01553451889" class="text-white hover:text-purple-300 transition duration-300">
            <i class="fas fa-phone"></i>
        </a>
    </div>
    <p class="text-white  text-center text-lg mt-10">Made with <i class="fas fa-heart text-red-400"></i> by Karim Ibrahim</p>
</footer>