<section class="py-16 px-4 bg-gray-100">
      <h1 class="text-4xl font-bold text-purple-800 text-center mb-8">
        Projects
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-4xl mx-auto">
        <a href="https://github.com/karim-308/jawwed-mobile" target="_blank" class="bg-gray-50 shadow-lg rounded-2xl overflow-hidden border border-gray-200 hover:scale-105 transition duration-300">
            <img src="assets/images/Jawwed2.png" alt="Jawwed" class="w-full h-48 object-contain bg-purple-100">
            <h3 class="p-4 font-semibold text-gray-800">Jawwed</h3>
            <span class="inline-block bg-purple-100 text-purple-600 text-sm font-medium rounded-full py-1 px-3 mx-4 mb-4">React Native</span>
        </a>
        <a href="https://github.com/SemoMoh/ElCapitanoProject" target="_blank" class="bg-gray-50 shadow-lg rounded-2xl overflow-hidden border border-gray-200 hover:scale-105 transition duration-300">
            <img src="assets/images/Capitano.png" alt="Capitano" class="w-full h-48 object-contain bg-purple-100">
            <h3 class="p-4 font-semibold text-gray-800">Capitano</h3>
            <span class="inline-block bg-purple-100 text-purple-600 text-sm font-medium rounded-full py-1 px-3 mx-4 mb-4">Java</span>
        </a>
        <a href="https://github.com/SemoMoh/OS-CPU-Scheduler-Assignment" target="_blank" class="bg-gray-50 shadow-lg rounded-2xl overflow-hidden border border-gray-200 hover:scale-105 transition duration-300">
            <img src="assets/images/Cpu.png" alt="CPU Scheduler" class="w-full h-48 object-contain bg-purple-100">
            <h3 class="p-4 font-semibold text-gray-800">CPU Scheduler</h3>
            <span class="inline-block bg-purple-100 text-purple-600 text-sm font-medium rounded-full py-1 px-3 mx-4 mb-4">JavaFX</span>
        </a>
        <a href="https://github.com/ebrahimmostafa133/Cut-The-Repo/" target="_blank" class="bg-gray-50 shadow-lg rounded-2xl overflow-hidden border border-gray-200 hover:scale-105 transition duration-300">
            <img src="assets/images/Cut-the-rope.png" alt="Cut the Rope" class="w-full h-48 object-contain bg-purple-100">
            <h3 class="p-4 font-semibold text-gray-800">Cut the Rope</h3>
            <span class="inline-block bg-purple-100 text-purple-600 text-sm font-medium rounded-full py-1 px-3 mx-4 mb-4">HTML / CSS / JavaScript</span>
        </a>
        <a href="https://github.com/Karim-308/AirBnB_clone_v2" target="_blank" class="bg-gray-50 shadow-lg rounded-2xl overflow-hidden border border-gray-200 hover:scale-105 transition duration-300">
            <img src="assets/images/hbnb.png" alt="HBNB" class="w-full h-48 object-contain bg-purple-100">
            <h3 class="p-4 font-semibold text-gray-800">HBNB</h3>
            <span class="inline-block bg-purple-100 text-purple-600 text-sm font-medium rounded-full py-1 px-3 mx-4 mb-4">Python</span>
        </a>
        <a href="https://github.com/SemoMoh/Othello-Game-with-AI-player" target="_blank" class="bg-gray-50 shadow-lg rounded-2xl overflow-hidden border border-gray-200 hover:scale-105 transition duration-300">
            <img src="assets/images/othello.png" alt="Othello" class="w-full h-48 object-contain bg-purple-100">
            <h3 class="p-4 font-semibold text-gray-800">Othello Game</h3>
            <span class="inline-block bg-purple-100 text-purple-600 text-sm font-medium rounded-full py-1 px-3 mx-4 mb-4">Java / AI</span>
        </a>
    </div>
</section>
